.App {
  text-align: center;
  display: flex;
}

*,
:after,
:before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

.Header {
    background-color: rgba(22, 22, 42, 0.50);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Content {
    margin-top: 80px;
}

.Logo {
    text-decoration: none;
    color: #fff;
}

.Footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(22, 22, 22, 0.5);
    display: flex;
}

a.Nav {
    padding-left: 10px;
    padding-right: 10px;
}

.NavLink {
    display: flex;
}

body {
    background-color: #222222;
    color: #222299;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Motto {
    padding-left: 65px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
